.table-work {
  margin-left: 15px;
  margin-bottom: 15px;
  border-spacing:0px 10px;
  width: 90%;
  border: none;
}

.icon-work {
  width: 5%;
  vertical-align:middle
  horizontal-align:middle;
}

.link-body {
  text-decoration: none;
  border-bottom: 1px dotted;
  border-color: #555;
  color: #555;
}


.link-body:hover {
  border-color: #555;
}

.link-body:visited{
  /*color:#000000;*/
}
